@import '../../lib/common.scss';

.dashboard_master {
  @include linear-gradient(135deg, $turquoise, $emerald);
  height: 100%;
  min-height: 100%;
  font-family: $roboto;

  &__content_container {
    @include make-xs-column(10);
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 15px;
  }
}
