@import '../../lib/common.scss';

.course_layout {
  margin-top: 30px;
  padding-bottom: 15px;
  @include make-xs-column(12);

  &__title {
    @include linear-gradient(135deg, $wisteria, $belize-hole);
    @include content-box-shadow;
    display: block;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 5px;
    color: mix(saturate(mix($wisteria, $belize-hole), 50%), $body-bg, 40%);
    font-size: $font-size-h1;
    font-weight: 100;
    text-align: center;

    &::before {
      @include fa-icon;
      content: '\f121';
      padding-right: 30px;
      margin-left: -30px;
    }
  }

  &__subtitle {
    @include make-xs-column(12);
    padding: 5px 15px;
    background-color: darken($body-bg, 5%);
    color: darken($gray-lighter, 10%);
    border-color: darken($body-bg, 10%);
    border-width: 1px 0;
    border-style: solid;
    font-size: $font-size-small;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__row {
    @include clearfix;
    border-bottom: 1px solid darken($body-bg, 10%);

    &:last-of-type {
      border: none;
    }
  }

  &__item {
    @include make-xs-column(3);
    @include linear-gradient(180deg, $body-bg, darken($body-bg, 6%));
    background-size: 200%;
    background-position: top center;
    cursor: pointer;
    transition: 0.25s background-position ease-in-out;
    border-right: 1px solid darken($body-bg, 10%);

    &_title {
      font-size: $font-size-base;
      font-weight: 800;
      color: $gray;
      padding: 0 15px 30px 15px;
      text-align: center;
    }

    &_status {
      font-size: $font-size-base * 6;
      text-align: center;
      padding-top: 15px;

      i {
        display: block;
        text-shadow: 0 1px 0 $body-bg;

        &::before {
          @include fa-icon;
        }
      }

      &--unwatched i::before {
        color: darken($body-bg, 10%);
        content: '\f01d';
      }

      &--watched i::before {
        color: $emerald;
        content: '\f05d'
      }

      &--download i::before {
        color: darken($body-bg, 10%);
        content: '\f1c9';
      }
    }

    &:last-of-type {
      border-right: none;
    }

    &:hover {
      background-position: bottom center;
    }
  }
}
