@import '../../lib/common.scss';

.editable-document {
  position: relative;
  margin-bottom: 15px;

  &__cells {
    @include content-box-shadow;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 120px 0 7.5px;
    background-color: $content-bg;
    border-radius: 5px;
  }

  &__cell {
    flex-grow: 1;
    padding: 0 7.5px 10px 7.5px;

    &_header {
      color: $turquoise;
      letter-spacing: 1px;
      font-size: 10px;
      text-transform: uppercase;
    }

    &_data {
      outline: none;
      border: none;
      background-color: $content-bg;
      border-bottom: 1px solid $content-bg;
      padding: 5px 0;
      transition: border-color 0.25s ease-in-out;
      width: 100%;

      &:hover {
        border-color: $gray-lighter;
      }

      &:focus {
        border-color: $turquoise;
      }

      &--select {
        -webkit-border-radius: 0;
        -webkit-appearance: none;
      }

      &--date {
        padding: 0;
        width: 100%;

        &:hover, &:focus {
          border-color: $content-bg;
        }

        div {
          width: 100%;
        }

        input {
          outline: none;
          border: none;
          background-color: $content-bg;
          border-bottom: 1px solid $content-bg;
          padding: 5px 0;
          transition: border-color 0.25s ease-in-out;
          width: 100%;

          &:hover {
            border-color: $gray-lighter;
          }

          &:focus {
            border-color: $turquoise;
          }
        }
      }
    }
  }

  &__buttons {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 1px;
  }

  &__button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    margin-left: 5px;
    border: 1px solid $peter-river;
    color: $peter-river;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    cursor: pointer;

    &--save::before {
      @include fa-icon;
      content: '\f0c7';
    }

    &--undo::before {
      @include fa-icon;
      content: '\f0e2';
    }

    &--delete {
      border-color: $alizarin;
      color: $alizarin;

      &::before {
        @include fa-icon;
        content: '\f014';
      }
    }

    &--disabled {
      color: $gray-lighter;
      border-color: $gray-lighter;
      cursor: not-allowed;
    }
  }
}
