@import '../../lib/common.scss';

.split_view {
  &__table_view {
    @include make-xs-column(3);
    border-right: 1px solid $border-color;
    background-color: $content-bg;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__table_cell {
    position: relative;
    border-bottom: 1px solid $border-color;
    height: 45px;
    line-height: 45px;
    font-size: $font-size-base;
    font-weight: 400;
    color: black;
    margin: 0 -15px;
    padding: 0 15px;
    cursor: pointer;

    &::after {
      content: ' ';
      display: block;
      width: $font-size-base / 2;
      height: $font-size-base / 2;
      border-color: darken($content-bg, 20%);
      border-style: solid;
      border-width: 1px 1px 0 0;
      transform: rotate(45deg) translateY(-50%);
      position: absolute;
      top: 20px;
      right: 15px;
    }

    &--active {
      background-color: $peter-river;
      border-color: $peter-river;
      color: $content-bg;

      &::after {
        border-color: mix($peter-river,$content-bg);
      }
    }
  }

  &__content_view {
    @include make-xs-column(9);
    @include make-xs-column-offset(3);
    padding-top: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
