@import '../../../lib/common.scss';

.video-input {
  label {
    font-size: $font-size-small - 2;
    text-transform: uppercase;
    font-weight: 400;
    color: $turquoise;
    letter-spacing: 1px;
    margin-bottom: 0;
    display: block;
  }

  &__input-container {
    display: flex;
  }

  &__title-input {
    flex-grow: 3;
    margin-right: 15px;
  }

  &__video-id-input {
    flex-grow: 1;
    margin-right: 15px;
  }

  &__example-file-input {
    flex-grow: 2;
  }
}
