@import '../../lib/common.scss';

.course_thumbnail {
  @include make-xs-column(4);
  margin-top: 15px;

  &__content {
    @include clearfix;
    cursor: pointer;
    padding: 0;
    display: block;
    position: relative;

    &:hover {
      text-decoration: none !important;
    }
  }

  &__image {
    @include make-xs-column(4);
    margin: 15px 0;
    float: left;

    img {
      width: 100%;
    }
  }

  &__text {
    @include make-xs-column(8);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &__title {
    color: black;
    font-weight: 400;
    font-size: $font-size-small;
    display: inline-block;
    margin-bottom: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    color: $gray-light;
    font-weight: 300;
    font-size: $font-size-small;
  }

  &__button {
    @include content-box-shadow;
    display: inline-block;
    font-size: $font-size-small - 2;
    line-height: $font-size-small - 2;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $peter-river;
    color: saturate(lighten($peter-river, 40%), 50%);
    border: 1px solid darken($peter-river, 5%);
    border-radius: 3px;
    height: $font-size-small + 4;
    margin-top: 5px;
    padding: ($font-size-small / 4) ($font-size-small / 2);
    overflow: hidden;

    &:hover {
      background-color: lighten($peter-river, 5%);
    }

    &:active {
      box-shadow: inset 0 1px 2px transparentize(black, 0.8);
      line-height: $font-size-small;
    }
  }
}
