@import '../../lib/common.scss';

.course_thumbnail {
  @include make-xs-column(3);
  cursor: pointer;
  margin-bottom: 30px;

  &__content {
    @include content-box-shadow;
    @include content-box-hover-zoom;
    background-color: $body-bg;
    border-radius: 5px;

    &__image {
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      background-size: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &__title {
      padding: 15px;
      font-weight: 800;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__footer {
      padding: 15px 0;
      margin: 0 15px;
      border-top: 1px solid $content-bg;
      font-size: $font-size-small;
      color: $gray-light;

      .fa {
        margin-right: 8px;
      }
    }
  }
}
