<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type='text/javascript' src='/bundles/vendor.learn.hackbu.js'></script>
    <link rel='stylesheet' href='/bundles/vendor.learn.hackbu.css' />
    <link rel='stylesheet' href='/bundles/dashboard.learn.hackbu.css' />
  </head>
  <body>
    <div id='dashboard-container'>

    </div>

    <script type='text/javascript' src='/bundles/dashboard.learn.hackbu.js'></script>
  </body>
</html>
