@import '../../lib/common.scss';

.dashboard_layout, .container-fluid {
  height: 100%;
  min-height: 100%;
  font-family: $roboto;

  &__content_container {
    @include make-xs-column(10);
    background-color: $content-bg;
    position: absolute;
    top: $navbar-height;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
