@import '../../lib/common.scss';

.overview_graph {
  @include make-xs-column(8);

  &__content {
    @include content-box-shadow;
    background-color: $body-bg;
    border-radius: 5px;
    min-height: 373px;

    &__title {
      font-size: $font-size-base;
      font-weight: 800;
      color: $gray;
      padding: 15px;

      .fa {
        text-align: center;
        width: 10px;
        margin-right: 15px;
      }
    }

    &__placeholder {
      width: 100%;
      height: 50%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
