@import '../../lib/common.scss';

.sidebar {
  @include make-xs-column(2);
  height: 100%;
  min-height: 100%;
  margin-top: -1 * $navbar-height;
  padding-top: $navbar-height + 15;
  z-index: 1;
  background-color: $sidebar-bg;
  border-right: 1px solid darken($sidebar-bg, 10%);

  &__link {
    color: lighten($sidebar-bg, 30%) !important;
    text-decoration: none !important;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: $navbar-height;
    height: $navbar-height;
    display: block;
    margin: 0 -15px;
    padding: 0 12px;
    cursor: pointer;
    border-width: 1px 0;
    border-style: solid;
    border-color: $sidebar-bg;
    transition: border-color 0.25s,
                background-color 0.25s,
                box-shadow 0.25s,
                color 0.25s ease-in-out;

    &__icon {
      margin-right: 10px;
      font-size: $font-size-large;
      vertical-align: middle;
      width: 30px;
      text-align: center;
    }

    &:hover {
      color: $body-bg !important;
    }

    &.active {
      color: $body-bg !important;
      background-color: lighten($sidebar-bg, 3%);
      border-color: darken($sidebar-bg, 3%);
      box-shadow: inset 0 1px 0 lighten($sidebar-bg, 6%),
                  inset 0 -1px 0 lighten($sidebar-bg, 6%);
      cursor: default;
    }
  }
}
