@import '../../../lib/common.scss';

.date-input {
  margin-bottom: 15px;

  label {
    font-size: $font-size-small - 2;
    text-transform: uppercase;
    font-weight: 400;
    color: $turquoise;
    letter-spacing: 1px;
    margin-bottom: 0;
    display: block;
  }

  input {
    outline: none;
    width: 100%;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: darken($content-bg, 5%);
    font-size: $font-size-base;
    padding-bottom: 2px;
    transition: border-color 0.25s ease-in-out;
    color: darken($content-bg, 75%);

    &:focus {
      border-color: $turquoise;
    }
  }

  &__field-container {
    display: flex;
  }

  &__validation-error {
    color: $alizarin;
    font-size: $font-size-small;
    text-align: left;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
  }
}
