@import '../../lib/common.scss';

.hackathons-list {
  &__activity-indicator {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
  }

  &__data-view {
    @include content-box-shadow;
    background-color: $content-bg;
    border-radius: 5px;
  }

  &__new-hackathon-button {
    @include content-box-shadow;
    font-size: $font-size-base - 2;
    line-height: $font-size-base - 2;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $peter-river;
    color: saturate(lighten($peter-river, 40%), 50%);
    border: 1px solid darken($peter-river, 5%);
    border-radius: 3px;
    height: $font-size-base + 6;
    padding: ($font-size-base / 4) ($font-size-base / 2);
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;

    &:hover {
      background-color: lighten($peter-river, 5%);
    }

    &:active {
      box-shadow: inset 0 1px 2px transparentize(black, 0.8);
      line-height: $font-size-base;
    }
  }
}
