@import '../../lib/common.scss';

.hackathons_editor {
  &__activity_indicator {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    top: 50%;
    margin-top: -15px;
  }

  &__new_document_button {
    @include content-box-shadow;
    display: inline-block;
    font-size: $font-size-small - 2;
    line-height: $font-size-small - 2;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $peter-river;
    color: saturate(lighten($peter-river, 40%), 50%);
    border: 1px solid darken($peter-river, 5%);
    border-radius: 3px;
    height: $font-size-small + 4;
    margin: 5px auto;
    padding: ($font-size-small / 4) ($font-size-small / 2);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: lighten($peter-river, 5%);
    }

    &:active {
      box-shadow: inset 0 1px 2px transparentize(black, 0.8);
      line-height: $font-size-small;
    }
  }
}
