@import '../../lib/common.scss';

.video_view {
  padding-bottom: 15px;

  &__download_button, &__next_video_button {
    @include content-box-shadow;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    display: inline-block;
    font-size: $font-size-base;
    font-weight: 300;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.1s, opacity 0.1s ease-in-out;
    cursor: pointer;
    user-select: none;

    &:active {
      box-shadow: inset 0 2px 5px transparentize(black, 0.8);
      line-height: 47px;
    }
  }

  &__download_button {
    background-color: $peter-river;
    color: saturate(lighten($peter-river, 40%), 50%);
    border: 1px solid darken($peter-river, 5%);

    &::before {
      @include fa-icon;
      content: '\f0ed';
      margin-right: 10px;
    }

    &:hover {
      background-color: lighten($peter-river, 5%);
    }
  }

  &__next_video_button {
    background-color: darken($content-bg, 10%);
    color: $gray;
    border: 1px solid darken($content-bg, 15%);
    float: right;

    &::after {
      @include fa-icon;
      content: '\f18e';
      margin-left: 10px;
    }

    &:hover {
      background-color: lighten($silver, 5%);
    }

    &--disabled {
      opacity: 0.5;
      cursor: default;
      box-shadow: none;

      &:hover {
        background-color: $silver;
      }

      &:hover {
        box-shadow: none;
        line-height: 45px;
      }
    }
  }

  iframe {
    border-radius: 5px;
  }
}
